.header {
    display: block;
    text-align: center;
    text-align: center;
    max-width: 50em;
    margin: 3em auto 4em;

    .blog-title h1 {}

    a {
        text-decoration: none;
        color: #111;

        &:hover {
            text-decoration: none;
            color: #111;
        }
    }

    .description {
        color: #444;
        font-size: 1.1em;
        margin-top: .2em;
        line-height: 1.5;
    }
    .navbar{
        line-height: 2.4em;
        display: block;
        margin: 1em 0;    
    }
    .menu {
        margin: 0;
        padding: 0;

        .first-child{
            margin: 0;
            color: #111 !important;    
        }

        .menu-item {
            display: inline;
            line-height: 2.4em;
        }
        .menu-item-link {
            color: #767676;
            margin: 0 0 0 1em;
            text-decoration: none;
            &:hover{
                color: #111;    
            }
        }
    }
}