.post {
    margin: 1em auto;
    padding: 30px 50px;
}

.posts {
    .post:first-child {
        margin-top: 0;
    }

    .post-meta{
        line-height: 0.5;  !important
    }

    .post-title {
        font-size: 2em;

        &::before {
            content: '#';
            color: #717485;
        }

        &:hover::before {
            color: #111;
        }

        .post-title-link {
            color: #111;
            text-decoration: none;
        }
    }

    .post-content {
        a {
            color: #111;
            text-decoration: underline;
            text-weight: bold;
        }
    }


}
.post-time{
    color: #717485;
}
blockquote {
    border-left: 4px solid #ddd;
    color: var(--blockquote-color);
    margin: 0;
    padding: 0 15px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

code{
    background: #eee;
    border-radius: 3px;
    color: #555;
    padding: 2px 4px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
